# Bỏ qua tệp cấu hình
google-services.json

# Bỏ qua thư mục build
/build/

# Bỏ qua tệp hệ điều hành
.DS_Store

# Bỏ qua tệp IDE
*.iml
.idea/

# Bỏ qua tệp log và tạm thời
*.log
*.tmp
